/build
/tmp
/.vagrant
/debian/files
/debian/debhelper-build-stamp
/debian/python-utility
/debian/python-utility.substvars
/documentation/man/*.1
/.scannerwork
/dist
/.coverage
/.cache
/.tox
/.pytest_cache
/.mypy_cache
*.egg-info
*.pyc
/token.pickle
/credentials.json
